html {
  font-size: 10vw;
  // 同时，通过Media Queries 限制根元素最大最小值
  @media screen and (max-width: 320px) {
    font-size: 28px;
  }
  @media screen and (min-width: 540px) {
    font-size: 54px;
  }
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'pingfang sc', 'ROBOTO', sans-serif, Helvetica, NotoSans CJK, Droid Sans,
    'microsoft yahei';
}

// body 也增加最大最小宽度限制，避免默认100%宽度的 block 元素跟随 body 而过大过小
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 320px;
  font-size: 0.42rem;
  z-index: 0;
}

* {
  box-sizing: inherit;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

ol,
ul,
li,
dl,
dt,
dd,
p {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 2dppx) {
  .border-bottom-1px::after,
  .border-top-1px::after {
    transform: scaleY(0.5);
  }
  .border-left-1px::after,
  .border-right-1px::after {
    transform: scaleX(0.5);
  }
  .border-1px::after {
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: 0 0;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (min-resolution: 3dppx) {
  .border-bottom-1px::after,
  .border-top-1px::after {
    transform: scaleY(0.333);
  }
  .border-left-1px::after,
  .border-right-1px::after {
    transform: scaleX(0.333);
  }
  .border-1px::after {
    width: 300%;
    height: 300%;
    transform: scale(0.333);
    transform-origin: 0 0;
  }
}

// 路由切换动画
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  will-change: transform;
  transition: all 400ms;
  position: absolute;
}
.slide-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.slide-right-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
