@charset "UTF-8";

@import './functions.scss';
// http://www.html-js.com/article/Mobile-terminal-H5-mobile-terminal-HD-multi-screen-adaptation-scheme%203041
@mixin px2rem($name, $px) {
  #{$name}: px2rem($px);
}

@mixin border-1px($position, $color, $width: 1px) {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    @if $position== 'bottom' {
      left: 0;
      bottom: 0;
      width: 100%;
      height: $width;
      transform-origin: 0 0;
      background-color: $color;
    } @else if $position== 'top' {
      left: 0;
      top: 0;
      width: 100%;
      height: $width;
      transform-origin: 0 0;
      background-color: $color;
    } @else if $position== 'left' {
      left: 0;
      top: 0;
      width: $width;
      height: 100%;
      transform-origin: 0 0;
      background-color: $color;
    } @else if $position== 'right' {
      box-sizing: border-box;
      right: 0;
      top: 0;
      width: $width;
      height: 100%;
      transform-origin: 0 0;
      background-color: $color;
    } @else if $position == 'all' {
      box-sizing: border-box;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border: $width solid $color;
    }
  }
}

@mixin setBgImg($url, $position-horizontal, $position-vertical, $size, $repeat) {
  @if $url!= '' {
    background-image: url($url);
  }
  background-position: $position-horizontal $position-vertical;
  background-size: $size;
  background-repeat: $repeat;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    @content;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    @content;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    @content;
  }

  &::-ms-input-placeholder {
    /* Edge */
    @content;
  }

  :placeholder-shown {
    /* Standard one last! */
    @content;
  }
}

@mixin setSize($width, $height) {
  width: $width;
  height: $height;
}

@mixin textCenter($width, $height) {
  width: $width;
  height: $height;
  line-height: $height;
  text-align: center;
}

@mixin setHeight($height) {
  height: $height;
  line-height: $height;
}

@mixin setTextEllipsis($maxLine) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $maxLine;
  overflow: hidden;
}

@mixin setFlexPos($direction, $xPos, $yPos) {
  display: -webkit-flex;
  display: flex;
  flex-direction: $direction;
  justify-content: $xPos;
  align-items: $yPos;
}

@mixin setDownTriangle($left, $top1, $top2, $boderWidth, $triangleColor, $fillColor: #fff) {
  position: absolute;
  &:before,
  &:after {
    content: '';
    left: $left;
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    border-width: $boderWidth;
    border-style: dashed dashed solid dashed;
  }
  &:before {
    top: $top1;
    border-color: $triangleColor transparent transparent transparent;
  }
  &:after {
    top: $top2;
    border-color: $fillColor transparent transparent transparent;
  }
}
