$baseAssets: '../../../assets';
.song-list {
  z-index: 0;
  @include setSize(100%, 100%);
  @include setFlexPos(column, flex-start, flex-start);
  .header {
    width: 100%;
    @include setBgImg('', center, center, cover, no-repeat);
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    padding: 0 0 32px 0;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(19, 18, 18, 0.562);
      z-index: 2;
    }
    .title-bar {
      @include setFlexPos(row, space-between, center);
      height: 120px;
      padding: 0 40px;
      .backup {
        z-index: 11;
        .arrow-left {
          font-size: 0.64rem;
          color: #fff;
        }
      }
      .title {
        z-index: 11;
        display: inline-block;
        border-radius: 8px;
        color: #fff;
      }
      .palyer-mini {
        z-index: 11;
      }
    }
    .content {
      z-index: 11;
      @include setFlexPos(row, flex-start, flex-start);
      padding: 28px 40px 0 40px;
      .pic {
        z-index: 11;
        @include setSize(300px, 300px);
        @include setBgImg('', center, center, cover, no-repeat);
        margin-right: 40px;
        border-radius: 16px;
        .heared {
          padding: 16px;
          width: 100%;
          @include setFlexPos(row, flex-end, center);
          .data {
            font-size: 0.28rem;
            color: #fff;
            margin-left: 18px;
          }
        }
      }
      .label {
        height: 300px;
        z-index: 11;
        @include setFlexPos(column, space-around, space-around);
        .title {
          display: inline-block;
          border-radius: 8px;
          z-index: 11;
          font-size: 0.41rem;
          color: #fff;
        }
        .author {
          z-index: 11;
          @include setFlexPos(row, flex-start, center);
          .author-pic {
            z-index: 11;
            display: inline-block;
            @include setSize(80px, 80px);
            @include setBgImg('', center, center, cover, no-repeat);
            border-radius: 50%;
            margin-right: 18px;
          }
          .author-name {
            display: inline-block;
            padding: 8px;
            font-size: 0.3rem;
            color: #fff;
          }
        }
        .info {
          @include setFlexPos(row, flex-start, center);
          .comment-pic {
            color: #fff;
            font-size: 0.44rem;
          }
          .share-pic {
            margin-left: 100px;
            color: #fff;
            font-size: 0.44rem;
          }
          .comment-data,
          .share-data {
            padding: 8px;
            font-size: 0.3rem;
            color: #fff;
            margin-left: 20px;
          }
        }
      }
    }
  }
  .summary {
    @include setSize(100%, 120px);
    background-color: #fff;
    @include setFlexPos(row, flex-start, center);
    padding: 0 0 1px 0;
    &.border-bottom-1px {
      @include border-set(bottom, $border-color);
    }
    .play-all {
      padding: 0 0 0 60px;
      @include setFlexPos(row, flex-start, center);
      @include setSize(62%, 100%);
      .list-play {
        font-size: 0.58rem;
        color: #333;
      }
      span {
        margin-left: 40px;
        color: #333;
        font-size: 0.42rem;
        &.track-count {
          margin-left: 20px;
          color: #999;
          font-size: 0.32rem;
        }
      }
    }
    .collect {
      padding: 0 0 0 60px;
      @include setFlexPos(row, flex-start, center);
      @include setSize(38%, 100%);
      background-color: $color-highlight-background;
      .list-plus {
        font-size: 0.32rem;
        color: #fff;
      }
      span {
        margin-left: 10px;
        color: #fff;
        font-size: 0.28rem;
        &.subscribe {
          margin-left: 8px;
          font-size: 0.28rem;
        }
      }
    }
  }
  .list-container {
    flex: 1;
    width: 100%;
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    ul {
      li {
        @include setFlexPos(row, flex-start, center);
        &.active {
          .index {
            color: $color-highlight-background;
          }
          .song-content .label {
            .name {
              color: $color-highlight-background;
            }
            .author {
              color: $color-highlight-background;
            }
          }
        }
        .index {
          font-size: 0.3rem;
          color: #999;
          width: 112px;
          text-align: center;
        }
        .song-content {
          flex: 1;
          padding: 20px 80px 20px 0;
          &.border-bottom-1px {
            @include border-set(bottom, $border-color);
          }
          @include setFlexPos(row, space-between, center);
          .label {
            @include setFlexPos(column, space-between, flex-start);
            .name {
              font-size: 0.36rem;
              color: #333;
              padding: 0 0 16px 0;
            }
            .author {
              font-size: 0.26rem;
              color: #aaa;
            }
          }
          .oper {
            .and-so-on {
              font-size: 0.72rem;
              color: #999;
            }
            .playing {
              font-size: 0.42rem;
              color: $color-highlight-background;
              margin-right: 14px;
            }
          }
        }
        &.no-more {
          height: 100px;
          color: #999;
          font-size: 0.38rem;
          @include setFlexPos(row, center, center);
        }
        &.subscribers {
          padding: 30px 64px 30px 92px;
          @include setFlexPos(row, flex-start, center);
          span {
            display: inline-block;
            @include setSize(80px, 80px);
            border-radius: 50%;
            margin-right: 16px;
            @include setBgImg('', center, center, cover, no-repeat);
          }
          .count {
            flex: 1;
            text-align: right;
            font-style: normal;
            font-size: 0.24rem;
            color: #999;
          }
        }
      }
    }
  }
}
