.home {
  width: 100%;
  .panel-container {
    @include setSize(100%, 100px);
    display: flex;
    margin-bottom: 14px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .panel-list {
      display: flex;
      justify-content: center;
      align-items: center;
      .panel-item {
        font-size: 0.4rem;
        color: #424242;
        &.recommend {
          margin-right: 220px;
        }
      }
    }
    .under-tag {
      display: inline-block;
      position: relative;
      @include setSize(132px, 10px);
      left: -194px;
      border-radius: 50px;
      border: none;
      background-color: #adadad;
    }
  }
  .tab {
    .container {
      @include setSize(100%, 300px);
      @include setFlexPos(row, space-around, center);
      .item {
        height: 280px;
        @include setFlexPos(column, space-around, center);
        .pic {
          @include setSize(200px, 200px);
          border: 1px solid $border-color;
          background-color: rgb(243, 104, 104);
          border-radius: 50%;
          text-align: center;
          padding: 80px 0 0 0;
        }
        span {
          font-size: 0.36rem;
          color: #555;
        }
      }
    }
    &.border-1px {
      @include border-1px(bottom, $border-color);
    }
  }
  .recommand {
    .title {
      padding: 28px 0 28px 50px;
      font-size: 0.44rem;
      font-weight: bold;
      color: #444;
    }
  }
}
